services:
  redis:
    image: redis:latest
    container_name: redis_dev
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redisdata:/data
    restart: always

volumes:
  redisdata:
